<div class="sideBarWrapper">


<!--  <mat-form-field>-->
<!--  -->
<!--    <mat-autocomplete #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let option of options" [value]="option">-->
<!--        {{option}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--    -->
<!--  </mat-form-field>-->


  <mat-form-field>

    <mat-hint>Published after</mat-hint>
    <input matInput [matDatepicker]="datepickerStart" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="datepickerStart"></mat-datepicker-toggle>
    <mat-datepicker  #datepickerStart></mat-datepicker>

  </mat-form-field>

<mat-form-field>

  <mat-hint>Published before</mat-hint>
  <input matInput [matDatepicker]="datepickerEnd" [(ngModel)]="endDate">
  <mat-datepicker-toggle matSuffix [for]="datepickerEnd"></mat-datepicker-toggle>
  <mat-datepicker #datepickerEnd></mat-datepicker>

</mat-form-field>

  <mat-form-field>

    <mat-label>Sort By</mat-label>
    <mat-select [formControl]="sortMethods" [multiple]="false">
      <mat-select-trigger>
        {{sortMethods.value}}
      </mat-select-trigger>
      <mat-option *ngFor="let sortMethod of sortMethodsList" [value]="sortMethod">{{sortMethod}}</mat-option>
    </mat-select>

  </mat-form-field>



  <button mat-raised-button color="primary" (click)="getParams()">Search</button>

</div>
