<div>

  <form id="sideBar" class="sideBarWrapper">

      <mat-form-field class="example-full-width">
        <mat-label>Search by title</mat-label>
        <input type="text"
               placeholder=""
               [(ngModel)]="titleString"
               aria-label=""
               matInput
               (ngModelChange)="change()"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete [autoActiveFirstOption]="true" #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field>

      <mat-hint>Published after</mat-hint>
      <input (dateChange)="getParams()" #fromInput matInput [matDatepicker]="datepickerStart" [(ngModel)]="startDate" name="startDate" ngModel>
      <mat-datepicker-toggle matSuffix [for]="datepickerStart"></mat-datepicker-toggle>
      <mat-datepicker  #datepickerStart></mat-datepicker>

    </mat-form-field>

<mat-form-field>

  <mat-hint>Published before</mat-hint>
  <input (dateChange)="getParams()" #toInput matInput [matDatepicker]="datepickerEnd" [(ngModel)]="endDate" name="endDate" ngModel>
  <mat-datepicker-toggle matSuffix [for]="datepickerEnd"></mat-datepicker-toggle>
  <mat-datepicker #datepickerEnd></mat-datepicker>

</mat-form-field>

  <button style="font-size: larger" mat-raised-button color="warn" (click)="resetForm()">&#8634;</button>

  <mat-form-field>

    <mat-label>Sort By</mat-label>
    <mat-select [(ngModel)]="sortMethod" (selectionChange)="getParams()" [formControl]="sortMethods" [multiple]="false" >
      <mat-select-trigger>
        {{sortMethods.value}}
      </mat-select-trigger>
      <mat-option *ngFor="let sortMethod of sortMethodsList" [value]="sortMethod" >{{sortMethod}}</mat-option>
    </mat-select>

  </mat-form-field>

  </form>

</div>
