mat-paginator
  position: fixed
  bottom: 0
  right: 0

.catWrapper
  display: flex

.artWrap
  display: flex
  flex-wrap: wrap
  gap: 20px
  padding: 20px
  justify-content: center
  width: calc(100vw - 440px)
