<div class="editorWrapper">

  <mat-toolbar>
    <h1 innerHtml="{{article ? 'Edit' : 'Create'}}"></h1>
    <button mat-raised-button color="primary"
            (click)="article ? onChange(title.value, text.value, group.value) : onCreate(title.value, text.value, group.value)"
            [innerHtml]="article ? 'Save': 'Create'"
    ></button>
  </mat-toolbar>

  <div class="main">

    <form class="example-form">
      <mat-form-field  class="mat-form-field-appearance-fill">
        <mat-label>Title</mat-label>
        <input #title matInput placeholder="Title" [value]="article?.title">
      </mat-form-field>
    </form>
    <mat-form-field class="mat-form-field-appearance-fill">
      <mat-label>Text</mat-label>
      <textarea #text id ="txt" matInput placeholder="Text" [innerHtml]="article?.text"></textarea>
    </mat-form-field>
  </div>

  <div class="side">

    <ngx-dropzone *ngIf="!article" (change)="onSelect($event)">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-image-preview [file]="f" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      </ngx-dropzone-image-preview>
    </ngx-dropzone>

    <mat-button-toggle-group value="{{article?.category|titlecase}}" #group = "matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="{{cat}}" *ngFor="let cat of cats">{{cat}}</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

</div>
