.editorWrapper
  display: grid
  grid-template: "header header header" 60px "main main side"
  gap: 20px
  width: 1000px
  height: fit-content
  background-color: #f5f5f5
  padding: 20px
  margin:  20px auto
  border-radius: 10px

.main
  grid-area: main

.side
  display: flex
  flex-direction: column
  grid-area: side
  align-items: center
  gap: 20px

#txt
  width: 600px
  height: 400px
  resize: none

.chips
  display: flex

mat-form-field
  width: 100%

.editorButton
  width: 216px

.deleteButton
  width: 40px
  min-width: 3px

.sideCat
  font-size: 24px
  margin: 0

mat-toolbar
  grid-area: header
  display: flex
  justify-content: space-between


ngx-dropzone
  width: 100%
  background-color: #ebebeb
  border: none
  border-bottom: 1px solid black

